body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  font-size: 24px;
}

.choices {
  margin-top: 20px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

#result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
